.guesses-display {
  .guesses {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;

    .guess {
      $MAX_HEIGHT: 150px;
      $MAX_WIDTH: 100px;
      $BORDER_RADIUS: 5%;

      width: 18%;
      max-height: $MAX_HEIGHT;
      max-width: $MAX_WIDTH;
      margin: 5px;

      .guess-result {
        width: 100%;
        height: 18vw;
        max-height: 100px;
        max-width: $MAX_WIDTH;
        border-radius: $BORDER_RADIUS;
        border: 1px solid grey;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        p {
          background-color: transparent;
          font-family: "Rubik", sans-serif;
          font-size: 1rem;
          font-weight: 800;
        }
      }

      .guess-inputs {
        display: flex;
        width: 100%;

        .guess-input {
          border-radius: $BORDER_RADIUS;
          border: 1px solid grey;
          height: 5vw;
          max-height: 50px;
          width: 100%;
          margin: 2px;
        }
      }
    }
  }
}
