.row {
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 2px solid red;
  margin: 10px 0;

  input {
    box-sizing: border-box;
    outline: none;
    height: 100%;
    width: 20%;

    &,
    &:focus {
      outline: none;
      border: none;
    }
  }

  h3 {
    font-size: 3rem;
    padding: 0;
    margin: auto;
  }
}

.invalid {
  border: 2px solid green;
}

.guess-result {
  height: 100%;
  border: 2px solid yellow;
}
