.guessing-area {
  max-width: 500px;
  margin: auto;

  .colour-inputs {
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
  }

  button {
    margin: auto;
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    border: 3px solid rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.9);

    &:hover {
      cursor: pointer;
      background-color: rgb(83, 83, 83);
    }
  }
}
