.guessing-area {
  border: 2px solid red;
  max-width: 500px;
  margin: auto;

  .colour-inputs {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
  }

  button {
    margin: auto;
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    border: 3px solid white;
    border-radius: 5px;

    &:hover {
      cursor: pointer;
      background-color: rgb(83, 83, 83);
    }
  }
}
